body{

    background: linear-gradient(90deg, #FFF6F4 63.38%, #FFEDE1 63.39%); 
    font-family: "Poppins";
    display: grid;
    justify-content: center;
}

.contanier-login{

    background: #fff;
    border-radius: 20px; 
    box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.05);  
    padding: 26px;
    min-width: 460px;
    margin-left: 160px;
    margin-top: 40px;


}


h1{
    color: #000;
    font-family: Poppins;
    font-size: 56px;
    font-style: normal;
    font-weight: 600; 
    margin:0;
}

h2{
    color: #F47458; 
    font-size: 36px;
    font-style: normal;
    font-weight: 600; 
    margin:0;

}

h3,label,p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin:0;

}

label a {

    font-size: 14px;
    font-style: normal;
    font-weight: 300; 
    color: #000; 
    opacity: 0.5; 

}

button{

    padding: 8px 16px;
    max-width: 150px;
    height: 46px; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    justify-self: center;
    border-radius: 23px;
    background: #F47458;
    color:#FFF; 
    cursor: pointer;

}

form{
    display: grid;
    max-width: 450px;
}

.text-sign-up{

    text-align: center;
    color: rgba(0, 0, 0, 0.20); 
    margin-top: 20px;}

.text-sign-up a{
    color: #F47458;
}

.password{
    display: flex;
    justify-content: space-between;
}

a{    text-decoration: none;
}

input{
    border-radius: 4px;
background: #FFF6F4; 
border: none;
padding: 14px;
}

.grid-contanier{

    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 120px;

}

.img-login img{
    width: 500px;
    height: 520px; 
    margin-top: 200px;    
}

@media (max-width:1040px){

    .grid-contanier{
        grid-template-columns: 1fr;
    }

    .contanier-login{

        border-radius: 20px; 
        padding: 60px;
        margin-left: 0px;
        margin-top: 20px;
    
    
    }

    .img-login{
        display: none;
    }

    
h1{
    font-size: 42px;
}

h2{
    font-size: 24px;
}

h3,label,p{
    font-size: 14px;
}



}

@media (max-width: 560px){

    .contanier-login{
    
        max-width: 440px;
        min-width: 0px;

    }

}